{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="flex justify-center mt-14">
        <svg width="300" height="200" viewBox="0 0 300 200">
            <rect x="0" y="100" width="40" height="30" fill="#FFA15A" />
            <rect x="50" y="0" width="40" height="100" fill="#FFA15A" />
            <rect x="100" y="30" width="40" height="70" fill="#636EFA" />
            <rect x="150" y="100" width="40" height="60" fill="#636EFA" />
            <rect x="200" y="60" width="40" height="40" fill="#00CC96" />
            <rect x="250" y="100" width="40" height="20" fill="#00CC96" />
        </svg>
    </div>

    <div class="flex justify-center">
        <h1 class="text-5xl font-bold mt-3 mb-20 text-center">Hospital Register<br>Analysis</h1>
    </div>
{% endblock %}